/* global */
body {
  color: #444;
  padding: 0 auto;
  margin: 0 auto;
  font: 16px/1.62 "Rosario", "Xin Gothic", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
  background: #F2F2F2 url('/image/noise.png');
}

h1, h2, h3, h4, h5, strong {
  font-family: "PT Sans", "Xin Gothic", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
  font-size: 20px;
  margin: 5px auto 5px auto;
}

h3 {
  font-size: 16px;
}

p {
  font-weight: normal;
  line-height: 1.5;
  margin: 20px 0;
}

ul, ol {
  margin: 14px auto;
}

ul {
  list-style: square;
}

li ul {
  list-style: disc;
  margin: 8px 0;
}

/* nav bar */
#nav {
  position: relative;
  max-width: 900px;
  *width: 900px;
  height: 56px;
  margin: 0 auto;
  line-height: 56px;
}

#nav .logo {
  width: 150px;
  height: 56px;
  float: left;
  padding-right: 10px;
}

#nav .items {
  float: left;
  margin-left: 5px;
  padding-right: 5px;
}

#nav .items a {
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  padding: 0 10px 0 10px;
}

#nav .items a:hover {
  color: white;
  background: #CCC;
}

#nav .search {
  float: right;
}

#nav .search input {
  color: gray;
}

/* block level */
blockquote {
  border-left: 0.4em solid #ddd;
  margin: 15px 0;
  padding: 0 15px;
  color: #777;
}

blockquote blockquote {
  padding: 0 0 0 1em;
  margin-left: 2em;
  border-left: 0.4em solid #ddd;
}


/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #bbb;
}

table tr:nth-child(2n) {
  background: #eee;
}

table th, table td {
  text-align: left;
  padding: 4px 6px;
}

/* span level */
img {
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
  overflow: hidden;
  word-wrap: break-word;
}

a:hover {
  color: #58B1B9;
  cursor: pointer;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  transition: color .5s ease;
}

a img {
  vertical-align: middle;
}

strong {
  color: #424242;
}

/* code */
pre, code, tt {
  font: 14px "Menlo", monospace;
}

pre {
  margin: 1em 0;
  background-color: #fbfbfb;
  border: 1px solid #ddd;
  padding: 8px;
  line-height: 1.5em;
  color: #444;
  overflow: auto;
  box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset;
  border-radius: 3px;
}

code, tt {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

pre code {
  padding: 0;
  color: #444;
  border: none;
  background: inherit;
}

/* form */
textarea, input {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 8px;
}

textarea:focus, input:focus {
  border-color: #999;
  outline: 0 none;
}

/* extra */
::selection {
  background: rgba(240,17,68,0.8);
  color: #fff;
}

.container {
  max-width: 900px;
  *width: 900px;
  margin: 0 auto;
}

#header {
  position: relative;
  background: #F2F2F2 url('/image/noise.png');
  border-bottom: 2px solid #E0E0E0;
  height: 56px;
  width: 100%;
  zoom: 1;
  margin-bottom: 30px;
}

#header:after {
  display: block;
  content: " ";
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

#footer {
  padding: 10px 20px;
  max-width: 900px;
  *width: 900px;
  margin: 0 auto 30px auto;
  text-align: left;
  color: #ccc;
  font-size: 14px;
}

#footer a {
  margin: 0;
  color: #bbb;
}

#footer a:hover {
  color: #58B1B9;
}

#footer .copyright {
  float: left;
}

#footer .information {
  float: right;
}

.back-to-top {
  left: 1150px;
  position: fixed;
  bottom: 0px;
  display: block;
}

.back-to-top a {
  top: 0px;
  font-weight: bold;
}

.entry {
  overflow: hidden;
  font-family: 'Rosario', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
  border: 1px solid #58B1B9;
  box-shadow: 2px 2px 10px 2px #58B1B9;
  margin: 40px auto;
  padding: 20px 20px 20px 20px;
}

.feedback {
  color: red;
  font-weight: bold;
}

/* article */
.entry-article {
  overflow: hidden;
  font-family: 'Rosario', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
  font-size: 16px;
  padding: 20px 10px 20px 10px;
  border-top: 2px solid #DDD;
}

.entry-article-main {
  float: left;
  width: 700px;
  border-right: 2px solid #DDD;
  padding-right: 10px;
}

.entry-article-sidebar {
  float: left;
  font-size: 16px;
}

.entry-title {
  color: #222;
}

.entry-meta, .entry-meta a {
  color: #999;
  font-size: 14px;
  text-align: left;
}

.entry-meta a:hover {
  color: #58B1B9;
}

.entry-content {
  margin-top: 10px;
  margin-bottom: 20px;
}

.entry-article-footer a:hover {
  color: #58B1B9;
}

.entry-article-footer {
  overflow: hidden;
  font-size: 14px;
  background: #DDD;
  padding: 10px;
  margin: 30px 0px 20px 0px;
  box-shadow: rgba(0,0,0,0.07) 0 2px 2px inset;
  text-shadow: rgba(0,0,0,0.07) 0 2px 2px;
}

.entry-comment {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.entry-comment a {
  font-weight: bold;
}

.entry-comment-post {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-form p {
  margin: 15px 0;
}

.entry-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
