.container {
	max-width: 700px;
}

.banner {
	text-align: center;
}

.title {
	text-align: left;
}

.article {
}

.comment {
}

.article_meta {
	color: #999999;
	text-align: right;
}

.comment_meta {
	color: #999999;
	text-align: left;
}

.comment_content {
	text-align: right;
}

.post_form {
}

.post_form input {
	border: 1px solid #DDDDDD;
}

.post_form textarea {
	border: 1px solid #DDDDDD;
	width: 90%;
}
