.container {
	max-width: 700px;
}

.banner {
	text-align: center;
}

.title {
	text-align: left;
}

.article {
	border: 1px solid white;
	box-shadow: 0 1px 10px #58B1B9;
	margin: 40px auto;
	padding: 20px;
}

.article p {
	line-height: 1.8em;
	margin: 15px;
}

.comment {
}

.article_meta {
	color: #999999;
	text-align: right;
}

.comment_meta {
	color: #999999;
	text-align: left;
}

.comment_meta.quote {
	text-align: right;
}

.comment_content {
}

.post_form {
}

.post_form input {
	border: 1px solid #DDDDDD;
}

.post_form textarea {
	border: 1px solid #DDDDDD;
	width: 90%;
}

.footer {
	text-align: center;
}
