.container {
	max-width: 700px;
}

.banner {
	text-align: center;
}

.title {
	text-align: left;
}

.box {
	border: 1px solid white;
	box-shadow: 0 1px 10px #58B1B9;
	margin: 40px auto;
	padding: 5%;
}

.aboutbox {
	border: 1px solid white;
	box-shadow: 0 1px 10px #58B1B9;
	margin: 10px auto;
	padding: 10px;
}

p {
	line-height: 1.8em;
}

.comment {
}

.article_meta {
	color: #999999;
	text-align: right;
}

.comment_meta {
	color: #999999;
	text-align: left;
}

.comment_content {
	padding: 10px;
}

.article_post_form {
	border: 1px solid white;
	box-shadow: 0 1px 10px #58B1B9;
	margin: 40px auto;
	padding: 5%;
}

input {
	border: 1px solid #DDDDDD;
}

textarea {
	border: 1px solid #DDDDDD;
	width: 90%;
}

.footer {
	text-align: center;
  color: #555;
}
