{{define "_header"}}<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="{{.config.RootUrl}}css/bootstrap.min.css"/>
		<link rel="stylesheet" href="{{.config.RootUrl}}css/bootstrap-responsive.css"/>
		<link rel="stylesheet" href="{{.config.RootUrl}}css/style.css"/>
		<link rel="alternate" type="application/rss+xml" href="/feed">
		<title>{{.header}}</title>
	</head>
	<body>
		<div class="navbar navbar-inner">
			<ul class="nav">
				<li><a href="{{.config.RootUrl}}">Home</a></li>
				<li><a href="{{.config.TagsUrl}}">Tags Cloud</a></li>
				<li><a href="{{.config.AdminUrl}}">Contribute</a></li>
				<li><a href="{{.config.RootUrl}}about">About</a></li>
			</ul>
		</div>
		<div class="container">
			<div class="banner">
				<a href="{{.config.RootUrl}}">
					<img src="{{.config.RootUrl}}image/Logo.png" />
				</a>
			</div>
		</div>
		<div class="container">
{{end}}

{{define "_footer"}}
			<hr/>
		</div>
		<div class="footer">
			<p>Powered by <a href="https://github.com/innocentim/biast" target="_blank">Biast</a>
		</div>
		<script src="{{.RootUrl}}js/biast.js"></script>
		<script src="{{.RootUrl}}js/bootstrap.min.js"></script>
	</body>
</html>
{{end}}

{{define "_meta"}}
{{if .Website}}
<a href="{{.Website}}">{{.Author}}</a>
{{else}}
{{.Author}}
{{end}}
@ {{.Date.String}}
{{end}}

{{define "_article"}}
<div name="article-{{.article.Id}}" id="article-{{.article.Id}}" class="box">
	<div class="title">
		<h1><a href="{{.config.ArticleUrl}}{{.article.Id}}">{{.article.Title}}</a></h1>
	</div>
	<div class="article_meta">
	{{template "_meta" .}}
	</div>
	<hr/>
	{{.Content}}
</div>
{{end}}

{{define "_comment"}}
<h2>Comments</h2>
<hr/>
{{range .}}
<div class="comment" id="comment-{{.Id}}">
		<div class="comment_meta">
		{{template "_meta" .}}
		<button onclick="quote('{{.Id}}', '{{.Author}}')" class="btn btn-mini" style="float:right">Quote</button>
		</div>
		<div id="comment_content-{{.Id}}" class="comment_content">
		{{.Content}}
		</div>
	</div>
	<hr/>
{{end}}
{{end}}

{{define "article"}}
{{template "_header" .}}
{{template "_article" .}}
<p>
Tags:
</p>
<p>
{{$url := .config.TagsUrl}}
{{range .article.Tags}}
	<a href="{{$url}}{{.}}">{{.}}</a>
{{end}}
</p>
<hr/>
{{template "_comment" .comments}}
<span style="color:red">{{.feedback}}</span>
<form class="comment_post_form" id="comment_form" method="post">
	<legend>Post a comment</legend>
	<p>
	<label><input name="author" value="{{.cookies.name}}"/>Name</label>
	</p>
	<p>
	<label><input name="email" value=""/>Email(Won't be published)</label>
	</p>
	<p>
	<label><input name="website" value="{{.cookies.website}}"/>Website(Optional)</label>
	</p>
	<p>
		<textarea rows="10" name="content"></textarea>
	</p>
	<p>
		<button type="submit" class="btn btn-primary" name="post">Send</button>
		<label class="checkbox inline" for="notify">
			<input type="checkbox" name="notify" checked="checked">Send Email notification when quoted
		</label>
	</p>
</form>
{{template "_footer" .config}}
{{end}}

{{define "index"}}
{{template "_header" .}}
{{$articleUrl := .config.ArticleUrl}}
{{range .articles}}
	<div name="article-{{.Id}}" id="article-{{.Id}}" class="box">
		<div class="title">
			<h1><a href="{{$articleUrl}}{{.Id}}">{{.Title}}</a></h1>
		</div>
		<div class="article_meta">
		{{template "_meta" .}}
		</div>
		<hr/>
		{{.Content}}
	</div>
{{end}}
{{template "_footer" .config}}
{{end}}

{{define "new"}}
{{template "_header" .}}
<span style="color:red">{{.feedback}}</span>
<form class="article_post_form" method="post">
	<legend>Post an article (maintainers only)</legend>
	<p>(visit {{.config.AdminUrl}}{id} for editing an exist article)</p>
	<p>use &lt;latex&gt;$\frac{1}{3}$&lt;/latex&gt; for LaTeX support</p>
	<p>
		<label><input name="title" value="{{.form.Title}}">Title</label>
	</p>
	<p>
		<label><input name="author" value="{{.form.Author}}">Name</label>
	</p>
	<p>
	<label><input name="email" value="{{.form.Email}}"/>Email(Won't be published)</label>
	</p>
	<p>
		<label><input name="website" value="{{.form.Website}}"/>Website(Optional)</label>
	</p>
	<p>
		<label>Content (RAW HTML, please)</label>
		<textarea rows="10" name="content">{{.form.Content}}</textarea>
	</p>
	<p>
	<label><input name="tags" id="tag_input" value="{{.tagsNow}}">Tags</label>
	</p>
	<p>
	All exist tags: 
	{{range .allTags}}
		<a href="javascript:void(0)" onclick="addTag('{{.}}')">{{.}}</a>
	{{end}}
	</p>
	<p>
		<button type="submit" class="btn" name="post" value="preview" onclick="document.forms[0].target = '_blank';">Preview</button>
		<button type="submit" class="btn btn-primary" name="post" value="submit" onclick="document.forms[0].target = '';">Submit</button>
		<label class="checkbox inline" for="notify">
			<input type="checkbox" name="notify" checked="checked">Send Email notification when commented
		</label>
	</p>
</form>
{{template "_footer" .config}}
{{end}}

{{define "tags"}}
{{template "_header" .}}
<div class="box">
	<div class="title">
		<h1>Tags</h1>
	</div>
	<hr/>
	<p>
	{{$url := .config.TagsUrl}}
	{{range .tags}}
		<a href="{{$url}}{{.}}">{{.}}</a>
	{{end}}
	</p>
</div>
{{template "_footer" .config}}
{{end}}

{{define "preview"}}
{{template "_header" .}}
{{template "_article" .}}
<p>
Tags:
</p>
<p>
{{$url := .config.TagsUrl}}
{{range .article.Tags}}
	<a href="{{$url}}{{.}}">{{.}}</a>
{{end}}
</p>
{{template "_footer" .config}}
{{end}}
