{{define "_header"}}<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="{{.config.RootUrl}}css/bootstrap.min.css"/>
		<link rel="stylesheet" href="{{.config.RootUrl}}css/bootstrap-responsive.css"/>
		<link rel="stylesheet" href="{{.config.RootUrl}}css/style.css"/>
		<link rel="alternate" type="application/rss+xml" href="/feed">
		<title>{{.header}}</title>
	</head>
	<body>
		<div class="banner">
			<div class="container">
				<a href="{{.config.RootUrl}}">
					<img src="{{.config.RootUrl}}image/Logo.png" />
				</a>
			</div>
		</div>
		<div class="container">
{{end}}

{{define "_footer"}}
		</div>
		<script src="{{.RootUrl}}js/bootstrap.min.js"></script>
	</body>
</html>
{{end}}

{{define "_meta"}}
{{if .Website}}
<a href="{{.Website}}">{{.Author}}</a>
{{else}}
{{.Author}}
{{end}}
@ {{.Date.String}}
{{end}}

{{define "_article"}}
<div class="article">
	<div class="title">
		<h1><a href="/article/{{.Id}}">{{.Title}}</a></h1>
	</div>
	<div class="article_meta">
	{{template "_meta" .}}
	</div>
	<hr/>
	{{.Content}}
	<hr/>
</div>
{{end}}

{{define "_comment"}}
<h2>Comments</h2>
<hr/>
{{range .}}
<div class="comment" id="comment-{{.Id}}">
		<div class="comment_meta">
		{{template "_meta" .}}
		</div>
		<div class="comment_content">
			{{.Content}}
		</div>
	</div>
	<hr/>
{{end}}
{{end}}

{{define "article"}}
{{template "_header" .}}
{{template "_article" .article}}
{{template "_comment" .comments}}
<span style="color:red">{{.feedback}}</span>
<form class="post_form" method="post">
	<legend>Post a comment</legend>
	<p>
		<label><input name="author"/>Name</label>
	</p>
	<p>
		<label><input name="email"/>Email(won't be published)</label>
	</p>
	<p>
		<label><input name="website"/>Website(optional)</label>
	</p>
	<p>
		<textarea rows="10" name="content"></textarea>
	</p>
	<p>
		<button type="submit" class="btn btn-primary" name="post">Send</button>
		<label class="checkbox inline" for="notify">
			<input type="checkbox" name="notify" checked="checked">Send Email Notification when quoted
		</label>
	</p>
</form>
{{template "_footer" .config}}
{{end}}

{{define "index"}}
{{template "_header" .}}
{{range .articles}}
	{{template "_article" .}}
{{end}}
{{template "_footer" .config}}
{{end}}

{{define "new"}}
{{template "_header" .}}
<span style="color:red">{{.feedback}}</span>
<form class="post_form" method="post">
	<legend>Post an article</legend>
	<p>
		<label><input name="title" value="{{.form.Title}}">Title</label>
	</p>
	<p>
		<label><input name="author" value="{{.form.Author}}">Name</label>
	</p>
	<p>
		<label><input name="email" value="{{.form.Email}}"/>Email(won't be published)</label>
	</p>
	<p>
		<label><input name="website" value="{{.form.Website}}"/>Website(optional)</label>
	</p>
	<p>
		<label for="text">Content (plain html)</label>
		<textarea rows="10" name="content">{{.form.Content}}</textarea>
	</p>
	<p>
		<button type="submit" class="btn btn-primary" onclick="document.forms[0].target = '';" name="post">Submit</button>
		<label class="checkbox inline" for="notify">
			<input type="checkbox" name="notify" checked="checked">Send Email Notification when commented
		</label>
	</p>
</form>
{{template "_footer" .config}}
{{end}}
