{{define "_header"}}
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{.CssUrl}}style.css">
		<title>{{.ServerName}}</title>
	</head>
	<body>
		<div class="site-container">
{{end}}

{{define "_footer"}}
		</div>
	</body>
</html>
{{end}}

{{define "_article"}}
<div class="post">
	<div class="article">
		<h1><a href="/article/{{.Id}}">{{.Title}}</a></h1>
		<div class="meta">{{.Author}} @ {{.Date.String}}</div>
		<hr />
		{{.Content}}
		<hr />
	</div>
</div>
{{end}}

{{define "_comment"}}
<div class="comments">
	<h1>Comments</h1>
	{{range .}}
		<div class="comment">
			<div class="comment_author"><b>{{.Author}}</b> @ {{.Date}}</div>
			<hr />
			{{.Content}}
		</div>
	{{end}}
</div>
{{end}}

{{define "article"}}
{{template "_header" .config}}
{{template "_article" .article}}
{{template "_comment" .comments}}
<div class="post_form">
	<span style="color:red">{{.feedback}}</span>
	<h1>Post a comment</h1>
	<div class="form">
		<form method="post">
			<p>
				<input name="author">
				<label for="author">Name</label>
			</p>
			<p>
				<input name="email">
				<label for="email">Email</label>
			</p>
			<p>
				<textarea name="content"></textarea>
			</p>
			<input type="submit" value="Send" name="post">
			<p>
				<input type="checkbox" name="notify" checked="checked">
				<label for="notify">Email Notification when replied</label>
			</p>
		</form>
	</div>
</div>
{{template "_footer" .}}
{{end}}

{{define "index"}}
{{template "_header" .config}}
{{range .articles}}
	{{template "_article" .}}
{{end}}
{{template "_footer" .}}
{{end}}

{{define "new"}}
{{template "_header" .config}}
<div class="post_form">
	<span style="color:red">{{.feedback}}</span>
	<h1>Post an article</h1>
	<div class="form">
		<form method="post">
			<p>
				<label for="title">Title</label><br/>
				<input name="title" value="{{.form.Title}}">
			</p>
			<p>
				<label for="author">Author</label><br/>
				<input name="author" value="{{.form.Author}}">
			</p>
			<p>
				<label for="email">Email</label><br/>
				<input name="email" value="{{.form.Email}}">
			</p>
			<p>
				<label for="text">Content (plain html)</label><br/>
				<textarea name="content">{{.form.Content}}</textarea>
			</p>
			<input type="submit" value="Submit" onclick="document.forms[0].target = '';" name="post">
		</div>
	</form>
</div>
{{template "_footer" .server}}
{{end}}
