{{define "_comment_meta"}}
{{if .Website}}
<a href="{{.Website}}">{{.Author}}</a>
{{else}}
<b>{{.Author}}</b>
{{end}} @ {{.Date.String}}
{{end}}

{{define "_article_content"}}
<div class="article-title">
  <h1><a href="{{.config.ArticleUrl}}{{.article.Id}}">{{.article.Title}}</a></h1>
</div>
<div class="article-meta">
  {{.comments | len}} <a href="{{.config.ArticleUrl}}{{.article.Id}}#comment">comments</a> | 
  <a href="{{.config.AuthorUrl}}{{.article.Author}}">{{.article.Author}}</a> @ {{.article.Date.Format "2006-01-02"}}
</div>
<hr />
<div class="entry-content">
  {{.article.Content}}
</div>
{{end}}


{{define "_article_footer"}}
<div class="entry-article-footer">
  <h2>DOCUMENT INFO</h2>
  <hr />
  <ul>
    <li>SRC URL: <a href="{{.config.ArticleUrl}}{{.article.Id}}">{{.config.ArticleUrl}}{{.article.Id}}</a></li>
    <li>
    TAG:
    {{$top := .}}
    {{range .article.Tags}}
    <a href="{{$top.config.TagsUrl}}{{.}}"> #{{.}}</a>
    {{end}}
    </li>
  </ul>
</div>
<hr />
{{end}}

{{define "_comment"}}
<div class="entry-comment" id="comment">
  <h2>COMMENTS</h2>
  <hr />
  {{range .}}
  <div id="comment-{{.Id}}">
    <div class="comment-meta">
      {{template "_comment_meta" .}}
      <button onclick="quote('{{.Id}}', '{{.Author}}')" class="btn" style="float:right">Quote</button>
    </div>
    <div id="comment-content-{{.Id}}">
      {{.Content}}
    </div>
  </div>
  <hr />
  {{end}}
</div>
{{end}}


{{define "_comment_post_form"}}
<div class="entry-comment-post" id="comment-post">
  <h2>LEAVE A COMMENT</h2>
  <hr />
  <div class="feedback">
    {{.feedback}}
    <hr />
  </div>
  <form class="post-form" id="comment-form" method="post">
    <p>
    <label><input name="author" value="{{.cookies.name}}"/> Name</label>
    </p>
    <p>
    <label><input name="email" value="{{.form.email}}"/> Email(Won't be published)</label>
    </p>
    <p>
    <label><input name="website" value="{{.cookies.website}}"/> Website(Optional)</label>
    </p>
    <p>
    <label><input name="verification" value=""/> {{.code}}</label>
    </p>
    <p>
    <textarea rows="10" cols="80" name="content">{{.form.content}}</textarea>
    </p>
    <p>
    <button type="submit" onclick="location.href='#comment-post';" class="btn" name="post">Send</button>
    <label class="checkbox inline" for="notify">
      <input type="checkbox" name="notify" checked="checked">Send Email notification when quoted
    </label>
    </p>
  </form>
</div>
</div>
{{end}}

{{define "article"}}
{{template "_header" .}}
<div class="entry-article" name="article-{{.article.Id}}" id="article-{{.article.Id}}">
  {{template "_article_content" .}}
  {{template "_article_footer" .}}
  {{template "_comment" .comments}}
</div>
{{template "_comment_post_form" .}}
{{template "_footer" .config}}
{{end}}
