{{define "_footer"}}
			<hr/>
    </div>
    <div class="footer">
      <p>&copy; Copyright NJUPT-SAST-<a href="http://stdio.njuptsast.org">STDIO</a> | Powered by <a href="https://github.com/innocentim/biast" target="_blank">Biast</a><br /><a href="mailto:saststdio@gmail.com">Email</a> | <a href="/feed" target="_blank">RSS feed</a> | <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US" target="_blank">CC A-NC-SA 3.0</a></p>
    </div>
    <script src="{{.RootUrl}}js/biast.js"></script>
    <script src="{{.RootUrl}}js/bootstrap.min.js"></script>
  </body>
</html>
{{end}}
