{{define "_footer"}}
    </div>
    <footer id="footer">
    <hr />
    <p class="copyright">&copy; Copyright NJUPT-SAST-<a href="http://stdio.njuptsast.org">STDIO</a> 
    | <a href="mailto:saststdio@gmail.com">EMAIL</a> | <a href="/feed" target="_blank">RSS FEED</a>
    </p>
    <p class="information">
    POWERED BY <a href="https://github.com/innocentim/biast" target="_blank">BIAST</a> | <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US" target="_blank">CC A-NC-SA 3.0</a>
    </p>
    </footer>
  </body>
</html>
{{end}}
