{{define "_header"}}<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{.config.RootUrl}}css/sastMain.css"/>
    <script src="{{.config.RootUrl}}js/biast.js"></script>
    <link rel="alternate" type="application/rss+xml" href="/feed">
    <title>{{.header}}</title>

    {{template "_google_analytics" .}}
  </head>
  <body>
    <header id="header">
    <nav id="nav" role="navigation">

    <div class="logo">
      <a href="{{.config.RootUrl}}"><img src="http://stdio.njuptsast.org/image/SastLogo.png"></a>
    </div>
    <div class="items">
      <a href="{{.config.RootUrl}}">Home</a>
      <a href="{{.config.TagsUrl}}">Tags Cloud</a>
      <a href="{{.config.AdminUrl}}">Contribute</a>
      <a href="{{.config.RootUrl}}about">About</a>
    </div>
    </nav>
    </header>

    <div class="container">
      {{end}}
