{{define "index"}}
{{template "_header" .}}
{{$top := .}}
{{range .articles}}
<div class="entry-article" name="article-{{.Id}}" id="article-{{.Id}}">
  <div class="entry-article-main">
    <div class="article-title">
      <h1><a href="{{$top.config.ArticleUrl}}{{.Id}}">{{.Title}}</a></h1>
      <a href="{{$top.config.AuthorUrl}}{{.Author}}">{{.Author}}</a> @ {{.Date.Format "2006-01-02"}}
       | {{getCommentList .Id | len}} <a href="{{$top.config.ArticleUrl}}{{.Id}}#comment">COMMENTS</a> 
    </div>
    <div class="summary">
      <hr/>
      {{.Content}}
    </div>
  </div>
  <div class="entry-article-sidebar">
    <img class="header-portrait" src="{{getGravatarURL .Email 80}}" height="80" width="80"/>
    <ul class="article-meta">
    </ol>
  </div>
</div>
{{end}}
{{template "_footer" .config}}
{{end}}
