{{define "index"}}
{{template "_header" .}}
{{$top := .}}
{{range .articles}}
	<div class="entry-article" name="article-{{.Id}}" id="article-{{.Id}}">
		<div class="entry-title">
			<h1><a href="{{$top.config.ArticleUrl}}{{.Id}}">{{.Title}}</a></h1>
		</div>
		<div class="entry-meta">
      {{getCommentList .Id | len}} <a href="{{$top.config.ArticleUrl}}{{.Id}}#comment">comments</a> | 
			<a href="{{$top.config.AuthorUrl}}{{.Author}}">{{.Author}}</a> @ {{.Date.String}}
		</div>
		<hr/>
		{{.Content}}
	</div>
{{end}}
{{template "_footer" .config}}
{{end}}
